body{
    background-color: rgb(184, 208, 228);

}


.maintext{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  



  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .submt {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  
  .div2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



 .nadpis{
  text-align: center;
  font-size: 50px;
  font: arial;
 }



 .button5 {
  outline: none;
  text-decoration: none;
  border-radius: 3px;
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 8px 65px;
  border: 2px solid #555555;
  display: flex;


}

.button5:hover {
  border-radius: 3px;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
}




.button6 {
  outline: none;
  text-decoration: none;
  border-radius: 3px;
  background-color: #333;
  padding: 8px 65px;
  color: rgb(255, 255, 255);
  border: 2px solid #555555;
  display: flex;

}

.button6:hover {
  border-radius: 3px;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
}




.button7 {
  outline: none;
  text-decoration: none;
  border-radius: 3px;
  padding: 8px 65px;
  background-color: #333;
  color: rgb(255, 255, 255);
  border: 2px solid #555555;
  display: flex;


}

.button7:hover {
  border-radius: 3px;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgb(184, 208, 228);
}

.nadpis {
  font-size: 50px;
  font-family: Arial, sans-serif;

}

.buttons {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 228, 236);
}

.button {
  border-radius: 4px;
  padding: 8px 65px;
  margin-bottom: 18px;
  background-color: #333;
  color: #fff;
  border: 2px solid #555;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  color: #000;
}


.ul {
  overflow: hidden;
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li {
  float: right;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #45a049;
}


.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}



.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  background-color: rgb(184, 208, 228);
}



.button55 {
  outline: none;
  text-decoration: none;
  border-radius: 3px;
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 12px 90px;
  border: 2px solid #555555;
  display: flex;
}

.button55:hover {
  border-radius: 3px;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
}

.buttonss {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 202, 240);
}

.smalll{
  text-align: center;
  font-size: 12px;
  font-family: Arial;
}

.small{
  text-align: center;
  font-size: 15px;
  font-family: Arial;
}

.div3{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.h5555{
  font-size: 15px;
  font-family: arial;
}


* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid rgb(255, 255, 255);
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffffff;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.ctc{
  font-size: 90px;
  font-family: arial;
  text-align: center;
}

.tct{
  font-size: 35px;
  font-family: arial;
  text-align: center;

}


.univ{
  font-size: 20px;
  font-family: arial;

}

.skoronadpis{
  font-family: arial;
  font-size: 45px;
  text-align: center;
}

.div4{
  margin: 5px;
  height: 85%;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.pdnps{
  font-family: Arial;
  font-size: 35px;
}

.dlstxt{
  text-decoration: none;
  font-family: Arial;
  font-size: 20px;
}

.dlspdndps{
  font-family: Arial;
  font-size: 15px;
  color: rgb(75, 75, 75);
}

.div4_butt_all_Onclick-moreContent{
  background-color: #4CAF50;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.div5{          /* Abanonded */
  margin-top: 5px;          /* Abanonded */
  height: 95%;          /* Abanonded */
  border-radius: 5px;         /* Abanonded */
  background-color: #ffffff;          /* Abanonded */
  padding: 20px;          /* Abanonded */
}         /* Abanonded */


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a2a2a2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e; 
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  border-radius: 5px;

  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");

}

.pfp{
  border-radius: 50px;
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
  margin-left: 5px;
  margin: 1px;
}

.breadcrumbp {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  margin: 5px;
  border-radius: 5px;
}
.breadcrumbp li {
  display: inline;
  font-size: 18px;
}
.breadcrumbp li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.breadcrumbp li a {
  color: #000000;
  text-decoration: none;
}
.breadcrumbp li a:hover {
  color: #000000;
  text-decoration: underline;
}

.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  margin: 5px;
  border-radius: 5px;
}
.breadcrumb li {
  display: inline;
  font-size: 18px;
}
.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.breadcrumb li a {
  color: #000000;
  text-decoration: none;
}
.breadcrumb li a:hover {
  color: #000000;
  text-decoration: underline;
}

.nottb{
  color: #5f5f5f;
}






#aktualizovanoUsp {
  visibility: hidden;
  max-width: 300px;

  margin-right: 10%;
  background-color: #10c100;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 25px;
}

#aktualizovanoUsp.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#odstranenoUsp {
  visibility: hidden;
  max-width: 300px;

  margin-right: 10%;
  background-color: #10c100;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 25px;
}

#odstranenoUsp.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


#necosepokazilo {
  visibility: hidden;
  max-width: 300px;

  margin-right: 10%;
  background-color: #ff1616;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 25px;
}

#necosepokazilo.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#anahranoUsp {
  visibility: hidden;
  max-width: 300px;

  margin-right: 10%;
  background-color: #10c100;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 25px;
}

#nahranoUsp.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


#jinyalert {
  visibility: hidden;
  max-width: 300px;

  margin-right: 10%;
  background-color: #ffe600;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 25px;
}

#jinyalert.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


#ntf {
  visibility: hidden;
  max-width: 300px;

  margin-right: 10%;
  background-color: #ff1616;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 25px;
}

#ntf.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}